<h1 id="title"><%= @cohort.name %> Roster</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th><i class="icon-twitter"></i></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
        <tr>
          <td></td>
          <td><%= link_to "#{student.full_name}", cohort_student_path(@cohort, student) %></td>
          <td><%= "#{student.twitter_handle}" %></td>
          <td><%= delete_link(student) %></td>
          <%= follow_status(student, flash[:new_friends], @friends) %>
        </tr>

    <% end %>
    </tbody>
  </table>


<div class="left-align">
  <%= link_to "< Back", root_path, :class => "btn btn-info" %>
  <%= link_to "Add New Student (+)", new_cohort_student_path(@cohort), :class => "btn btn-info" %>
  <%= link_to "Follow People!", cohort_twitter_follow_path(@cohort), :class => "btn btn-success" %>
</div>

